:root {
    --max-width: 1000px;
}
/* override default margin of 8px */
body {
    margin: 0px;
}

.page-background {
    background-color: #202020;
}

/* centers horizontally and vertically */
.center-page-outer {
    display: flex; 
    flex-direction: column;
    height: 100vh;
    align-items: center; /* cross axis, default is stretch */
    justify-content: center; /* main axis, default is ? */
}


.clickable:hover {
    cursor: pointer;
}

input[type='text'] {
    color: white;
    background-color: #303030;
    border-color: #202020; 
    border-width: 1px;
    font-family: 'Courier New', Courier, monospace  ;
    font-size: 14px;
}

/* currently focused input item */
input:focus-visible {
    outline: 1px solid #808080;
}

.screen-text {
    text-align: left; 
    font-size: 14px; 
    font-family: Courier New, Courier, monospace; 
    color: green;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header-line {
    flex-grow:1;
    border-top:1px solid green
}

.form-header-title {
    margin-top: -8px;
    margin-left: 10px;
    margin-right: 10px;
}

.standard-form-container {
    margin-top: 20px;
    border-width: 0px 1px 1px 1px;
    border-color: green;
    border-style: solid;
}

.function-input {
    width: 10px;
    height: 1.2vh;
}

.modal {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #00FF0020;
}

.modal-contents {
    border: 1px solid green;
    padding: 10px;
    background-color: black;
}

.upper-right {
    position: absolute;
    margin-right: 40px;
    top: 0%;
    left: 98%;
    width: 100%;
}

.x-to-close {
    font-size: 24pt;
    font-weight: bold;
    cursor: pointer;
}

button {
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    color: white;
    
}
button:hover {
    cursor: pointer;
    background-color: green;
}

.button-row {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}